@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 1%;
    --foreground: 0 0% 95%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 95%;
    --primary: 152 100% 71%;
    --primary-foreground: 154 100% 10%;
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 152 100% 71%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 4%;
    --input: 0 0% 0%;
    --ring: 152 100% 71%;
    --radius: 0.5rem;
  }


}

* {
font-family: 'Fira Code', sans-serif;
}


body {
  @apply bg-black
}
